<h1>Search</h1>

<%= form_tag site_search_path do %>
  <%= search_field_tag :term %>
  <%= submit_tag "search" %>
<% end %>

<%=date_select :startdate, 'Start Datum' %>


<h2>Results</h2>

<% if params[:term] %>
  <% @result.each do |result| %>
      <p class="search-results "><%= result.name%></p>
  <% end %>

<% end %>
